body {
	color: #a9a9a9;
	margin: auto;
	background-color: #00a497;
	font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体",
		"Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN",
		"Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",
		sans-serif;
}

div.body {
	overflow-y: auto;
	scrollbar-face-color: #C9BFED;
	scrollbar-shadow-color: #EDEDED;
	margin-top: 10px;
	width: 80%;
	margin: auto;
	background-color: #fff;
}

.body h1 {
	color: #00a497;
	font-weight: bold;
}

.body h2 {
	font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体",
		"Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN",
		"Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",
		sans-serif;
	font-size: 28px;
}

.body table {
	margin: 30px;
}

.body th {
	text-align: center;
}

.sigt-content {
	width: 80%;
	margin: auto;
	background-color: #fff;
	margin-bottom: 15px;
}

.aaa {
	float: right;
	width: 110px;
	margin-right: 1%;
	color: #a9a9a9;
	font-size: 9px;
	margin-top: 22px;
}

p.login {
	display: inline-block;
	padding: 7px 20px;
	border-radius: 25px;
	text-decoration: none;
	color: #FFF;
	background-color: rgb(0, 0, 0);
	transition: .4s;
	float: right;
	margin-right: 1%;
	margin-top: 15px;
	margin-bottom: 30px;
}

.login a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-size: 10px;
}

.menu {
	width: 75%;
	border-top: 1px solid #a9a9a9;
	margin: auto;
}

.clear-element {
	clear: both;
}

.nav {
	list-style: none;
	text-align: center;
	padding-left: 5px;
	padding-bottom: 10px;
	/* margin-bottom:  10px; */
}

.nav li {
	width: 140px;
	text-align: center;
	/*  background-color: #00a497; */
	display: inline-block;
	margin-left: 2%;
}

.nav li a {
	text-decoration: none;
	color: #00a497;
	font-weight: bold;
}

a.nv_menu {
	color: #d4b08c;
}

a.nv_menu:visited {
	color: #9e6c39;
}

input.shop-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none; /*ボタンCSSリセット*/
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #00a497;
	background: #ECECEC;
	transition: .4s;
	margin-right: 10px;
}

input.shop-btn:hover {
	background: #00a497;
	color: white;
}

input.shop-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none; /*ボタンCSSリセット*/
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #00a497;
	background: #ECECEC;
	transition: .4s;
}

input.shop-btn:hover {
	background: #00a497;
	color: white;
}

input.shop-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none; /*ボタンCSSリセット*/
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #00a497;
	background: #ECECEC;
	transition: .4s;
}

input.shop-btn:hover {
	background: #00a497;
	color: white;
}

.list-table p{
	text-align: center;
}

.list-table a {
	color: #d4b08c;
}

.list-table a {
	color: #fff;
/* 	color: #9e6c39;
 */}

th {
	background-color: #734631fa;
	color: #ffff;
}

td {
	background-color: #ffff;
}

div.cart {
	/* border:1px solid gray; */
	width: 320px;
	height: 58px;
}

tr.header {
	background: #C9BFED;
}

tr.record {
	background: #EDEDED;
}

input.userId {
	height: 20px;
	width: 150px;
	border-width: 1px;
	border-style: solid;
}

input.password {
	height: 20px;
	width: 150px;
	border-width: 1px;
	border-style: solid;
}

input.userName {
	height: 20px;
	width: 150px;
	border-width: 1px;
	border-style: solid;
}

input.postCode {
	height: 20px;
	width: 80px;
	border-width: 1px;
	border-style: solid;
}

input.address {
	height: 20px;
	width: 240px;
	border-width: 1px;
	border-style: solid;
}

input.eMail {
	height: 20px;
	width: 240px;
	border-width: 1px;
	border-style: solid;
}

input.birthday {
	height: 20px;
	width: 100px;
	border-width: 1px;
	border-style: solid;
}

select.jobs {
	width: 100px;
}
/* 
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
 } */

/*---------------アニメーション-------------------*/

/*
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}
*/